<IfModule mod_rewrite.c>
  RewriteEngine On
  # Silently forward all requests to the dist folder where our built app lives
  RewriteCond %{REQUEST_URI} !^/dist/
  RewriteRule ^(.*)$ dist/$1 [L]
</IfModule>
